In [2]:
import pandas as pd

# Load the dataset from the data directory
data = pd.read_csv('../data/bank_transactions_data_2.csv')

# Display the first 5 rows of the dataset
data.head()

,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,CustomerAge,CustomerOccupation,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,TX000001,AC00128,14.09,2023-04-11 16:29:14,Debit,San Diego,D000380,162.198.218.92,M015,ATM,70,Doctor,81,1,5112.21,2024-11-04 08:08:08
1,TX000002,AC00455,376.24,2023-06-27 16:44:19,Debit,Houston,D000051,13.149.61.4,M052,ATM,68,Doctor,141,1,13758.91,2024-11-04 08:09:35
2,TX000003,AC00019,126.29,2023-07-10 18:16:08,Debit,Mesa,D000235,215.97.143.157,M009,Online,19,Student,56,1,1122.35,2024-11-04 08:07:04
3,TX000004,AC00070,184.50,2023-05-05 16:32:11,Debit,Raleigh,D000187,200.13.225.150,M002,Online,26,Student,25,1,8569.06,2024-11-04 08:09:06
4,TX000005,AC00411,13.45,2023-10-16 17:51:24,Credit,Atlanta,D000308,65.164.3.100,M091,Online,26,Student,198,1,7429.40,2024-11-04 08:06:39

In [8]:
# Data information: types and non-null counts
print("Data Information:")
data.info()

# Descriptive statistics for numerical columns
print("Descriptive Statistics:")
print(data.describe())

# Check for missing values in every column
print("Missing Values per Column:")
print(data.isnull().sum())

Data Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TransactionID            2512 non-null   object
 1   AccountID                2512 non-null   object
 2   TransactionAmount        2512 non-null   float64
 3   TransactionDate          2512 non-null   object
 4   TransactionType          2512 non-null   object
 5   Location                 2512 non-null   object
 6   DeviceID                 2512 non-null   object
 7   IP Address               2512 non-null   object
 8   MerchantID               2512 non-null   object
 9   Channel                  2512 non-null   object
 10  CustomerAge              2512 non-null   int64
 11  CustomerOccupation       2512 non-null   object
 12  TransactionDuration      2512 non-null   int64
 13  LoginAttempts            2512 non-null   int64
 14  AccountBalance           2512 non-null   float64
 15  PreviousTransactionDate  2512 non-null   object
dtypes: float64(2), int64(3), object(11)
memory usage: 314.1+ KB
Descriptive Statistics:
       TransactionAmount  CustomerAge  TransactionDuration  LoginAttempts  \
count        2512.000000  2512.000000          2512.000000    2512.000000
mean          297.593778    44.673965           119.643312       1.124602
std           291.946243    17.792198            69.963757       0.602662
min             0.260000    18.000000            10.000000       1.000000
25%            81.885000    27.000000            63.000000       1.000000
50%           211.140000    45.000000           112.500000       1.000000
75%           414.527500    59.000000           161.000000       1.000000
max          1919.110000    80.000000           300.000000       5.000000

       AccountBalance
count     2512.000000
mean      5114.302966
std       3900.942499
min        101.250000
25%       1504.370000
50%       4735.510000
75%       7678.820000
max      14977.990000
Missing Values per Column:
TransactionID              0
AccountID                  0
TransactionAmount          0
TransactionDate            0
TransactionType            0
Location                   0
DeviceID                   0
IP Address                 0
MerchantID                 0
Channel                    0
CustomerAge                0
CustomerOccupation         0
TransactionDuration        0
LoginAttempts              0
AccountBalance             0
PreviousTransactionDate    0
dtype: int64

In [5]:
# Check for duplicate rows
duplicates = data.duplicated().sum()
print("Number of duplicate rows:", duplicates)

Number of duplicate rows: 0

In [7]:
# Identify transactions where the amount is zero
zero_amount = data[data['TransactionAmount'] == 0]
print("Transactions with zero amount:")
print(zero_amount)

# Get summary statistics to spot any extreme values
print("Summary statistics for transaction amounts:")
print(data['TransactionAmount'].describe())

Transactions with zero amount:
Empty DataFrame
Columns: [TransactionID, AccountID, TransactionAmount, TransactionDate, TransactionType, Location, DeviceID, IP Address, MerchantID, Channel, CustomerAge, CustomerOccupation, TransactionDuration, LoginAttempts, AccountBalance, PreviousTransactionDate]
Index: []
Summary statistics for transaction amounts:
count    2512.000000
mean      297.593778
std       291.946243
min         0.260000
25%        81.885000
50%       211.140000
75%       414.527500
max      1919.110000
Name: TransactionAmount, dtype: float64

In [10]:
# Convert date columns to datetime objects
date_columns = ['TransactionDate', 'PreviousTransactionDate']
for col in date_columns:
    if col in data.columns:
        data[col] = pd.to_datetime(data[col], errors='coerce')

# Check the range for TransactionDate
if 'TransactionDate' in data.columns:
    print("TransactionDate range:")
    print("Earliest:", data['TransactionDate'].min())
    print("Latest:", data['TransactionDate'].max())

TransactionDate range:
Earliest: 2023-01-02 16:00:06
Latest: 2024-01-01 18:21:50

In [13]:
# Check that CustomerAge is within a plausible range (e.g., 18 to 100)
invalid_age = data[(data['CustomerAge'] < 18) | (data['CustomerAge'] > 100)]
print("Transactions with invalid CustomerAge:")
print(invalid_age)

# Check that LoginAttempts are non-negative
negative_logins = data[data['LoginAttempts'] < 0]
print("Transactions with negative LoginAttempts:")
print(negative_logins)

# Summary statistics for TransactionDuration to spot outliers or zeros
print("Summary statistics for TransactionDuration:")
print(data['TransactionDuration'].describe())

Transactions with invalid CustomerAge:
Empty DataFrame
Columns: [TransactionID, AccountID, TransactionAmount, TransactionDate, TransactionType, Location, DeviceID, IP Address, MerchantID, Channel, CustomerAge, CustomerOccupation, TransactionDuration, LoginAttempts, AccountBalance, PreviousTransactionDate]
Index: []
Transactions with negative LoginAttempts:
Empty DataFrame
Columns: [TransactionID, AccountID, TransactionAmount, TransactionDate, TransactionType, Location, DeviceID, IP Address, MerchantID, Channel, CustomerAge, CustomerOccupation, TransactionDuration, LoginAttempts, AccountBalance, PreviousTransactionDate]
Index: []
Summary statistics for TransactionDuration:
count    2512.000000
mean      119.643312
std        69.963757
min        10.000000
25%        63.000000
50%       112.500000
75%       161.000000
max       300.000000
Name: TransactionDuration, dtype: float64